body {
	margin: 0;
	padding: 0;
}

#mapid {
	width: 100%;
	height:100vh;
}

.ffrs-nav-half{
	position:absolute;
	top:0;
	left:25%;
	z-index: 9999;
	width:50%;
	border-radius: 0 0 15px 15px;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}