{% extends "base.html" %}

{% block content %}

<div id="mapid"></div>

<script>

    // parst das übergebene geo_json in eine javascript variable
	var geo_json = JSON.parse({{ geo_json|tojson|safe }});
    
    // parst das übergebene geo_json für Messages in eine javascript variable
    var geo_json_messages = JSON.parse({{ geo_json_messages|tojson|safe }});

    // parst das übergebene geo_json für GridView in eine javascript variable
    var geo_json_grid_view = JSON.parse({{ geo_json_grid_view|tojson|safe }});
    
    // Layer mit verschiedenen Tiles erstellen
	var osm   = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a','b','c']});

    /*
    Map einrichten. mapid ist die ID die auch beim DIV Container verwendet wird.
    Mit Zoom wird der start Wert vorgegeben.
    */
    var map = L.map('mapid', {
        layers: [osm],
        zoom: 13,
        minZoom: 10
    });

    // Eine eigene Icon Klasse erstellen
    var GWIcon = L.Icon.extend({
        options: {
            shadowUrl: '{{ url_for('static', filename='gw_icon_shadow.png') }}',
            iconSize:     [50, 100],
            shadowSize:   [80, 114],
            iconAnchor:   [28, 100],
            shadowAnchor: [0, 114],
            popupAnchor:  [-2, -100]
        }
    });

    // Icon Klasse für Indoor Gateways erstellnen
    var GWIconIndoor = L.Icon.extend({
        options: {
            shadowUrl: '{{ url_for('static', filename='gw_indoor_icon_shadow.png') }}',
            iconSize:     [50, 50],
            shadowSize:   [80, 54],
            iconAnchor:   [28, 50],
            shadowAnchor: [27, 54],
            popupAnchor:  [-2, -50]
        }
    });

    // Icon mit der eigenen Icon-Klasse erstellen
    var greenIcon = new GWIcon({iconUrl: '{{ url_for('static', filename='gw_icon_green.png') }}'});
    var redIcon = new GWIcon({iconUrl: '{{ url_for('static', filename='gw_icon_red.png') }}'});
    var greyIcon = new GWIcon({iconUrl: '{{ url_for('static', filename='gw_icon_grey.png') }}', opacity:0.5});

    // Indoor Icons mit der eigenen Icon-Klasse erstellen
    var greenIndoorIcon = new GWIconIndoor({iconUrl: '{{ url_for('static', filename='gw_indoor_icon_green.png') }}'});
    var redIndoorIcon = new GWIconIndoor({iconUrl: '{{ url_for('static', filename='gw_indoor_icon_red.png') }}'});
    var greyIndoorIcon = new GWIconIndoor({iconUrl: '{{ url_for('static', filename='gw_indoor_icon_grey.png') }}', opacity:0.5});
    
    /*
    geoJSON in die Map laden.
    Dabei werden für jeden Status ein anderes Icon verwendet.
    Mit zIndexOffset wird verhindert das online Gateways durch offline Gateways überlagert werden.
    */
    L.geoJSON(geo_json, {
    	pointToLayer: function (feature, latlng) {

            var id = feature.properties.id;
            var description = feature.properties.description;
            var owner = feature.properties.owner;
            var last_seen = feature.properties.last_seen;
            var model = feature.properties.model;
            var brand = feature.properties.brand;
            var antenna_model = feature.properties.antenna_model;
            var placement = feature.properties.placement;
            var gw_state = feature.properties.gw_state;

            var popup = L.popup({
                    autoPanPaddingTopLeft: [0, 100]
                    
                })
                .setLatLng(latlng)
                .setContent(
                    `<div class="card bg-dark text-white">
                    <div class="card-body pb-0">
                        <h5 class="card-title">`+id+`</h5>
                        <h6 class="card-subtitle mb-2">`+description+`</h6>
                        <table class="table mt-4">
                            <tr><th class="py-1 px-0">Eigentümer</th><td class="py-1 pr-0">`+owner+`</td></tr>
                            <tr><th class="py-1 px-0">Gateway Modell</th><td class="py-1 pr-0">`+model+`</td></tr>
                            <tr><th class="py-1 px-0">Gateway Hersteller</th><td class="py-1 pr-0">`+brand+`</td></tr>
                            <tr><th class="py-1 px-0">Antenne</th><td class="py-1 pr-0">`+antenna_model+`</td></tr>
                            <tr><th class="py-1 px-0">Standort</th><td class="py-1 pr-0">`+placement+`</td></tr>
                            <tr><th class="py-1 px-0">Koordinaten</th><td class="py-1 pr-0">`+latlng.lat+`, `+latlng.lng+`</td></tr>
                        </table>
                        
                    </div>
                    <div class="card-footer ">
                        <div class="row">
                            <div class="col border-right">Zuletzt gesehen am:<br>`+last_seen+`</div>
                            <div class="col-4 text-nowrap">`+gw_state+`</div>
                        </div>
                </div>`,
                {'maxWidth': '320'});
            
            // Outdoor
            if(gw_state=='online' && placement=='outdoor'){
                return L.marker(latlng, {
                        icon: greenIcon,
                        zIndexOffset: 1000
                }).bindPopup(popup);
            }
            if((gw_state=='offline' || gw_state=='unknown') && placement=='outdoor'){
                return L.marker(latlng, {
                        icon: redIcon,
                        zIndexOffset: 500
                }).bindPopup(popup);
            }
            if(gw_state=='deceased' && placement=='outdoor'){
                return L.marker(latlng, {
                        icon: greyIcon,
                        zIndexOffset: 100
                }).bindPopup(popup);
            }

            // Indoor
            if(gw_state=='online' && (placement=='indoor' || placement==null)){
                return L.marker(latlng, {
                        icon: greenIndoorIcon,
                        zIndexOffset: 1000
                }).bindPopup(popup);
            }
            if((gw_state=='offline' || gw_state=='unknown') && (placement=='indoor' || placement==null)){
                return L.marker(latlng, {
                        icon: redIndoorIcon,
                        zIndexOffset: 500
                }).bindPopup(popup);
            }
            if(gw_state=='deceased' && (placement=='indoor' || placement==null)){
                return L.marker(latlng, {
                        icon: greyIndoorIcon,
                        zIndexOffset: 100
                }).bindPopup(popup);
            }
        }
    }).addTo(map);


    /*
    Kreise für jedes Gateway zeichnen
    */
    L.geoJSON(geo_json, { 
    	pointToLayer: function (feature, latlng) {
            var gw_state = feature.properties.gw_state;
            if(gw_state=='online'){
                return L.circle(latlng, {
                    radius: 5, 
                    zIndexOffset: 50,
                     
                    color: '#0d83d0'});
            }
        }
    }).addTo(map);

    L.geoJSON(geo_json, { 
    	pointToLayer: function (feature, latlng) {
            var gw_state = feature.properties.gw_state;
            if(gw_state=='online'){
                return L.circle(latlng, {
                    radius: 1000, 
                    zIndexOffset: 50,
                    weight: 1,
                    opacity: 0.5,
                    fillOpacity: 0.1, 
                    color: '#0d83d0'});
            }
        }
    }).addTo(map);

    L.geoJSON(geo_json, { 
    	pointToLayer: function (feature, latlng) {
            var gw_state = feature.properties.gw_state;
            if(gw_state=='online'){
                return L.circle(latlng, {
                    radius: 2000, 
                    zIndexOffset: 50,
                    weight: 1,
                    opacity: 0.5,
                    fillOpacity: 0.1, 
                    color: '#0d83d0'});
            }
        }
    }).addTo(map);

    /*
    Zeichne Punkte für die Messages
    */
    var message_points = L.geoJSON(geo_json_messages, {
    	pointToLayer: function(feature, latlng) {
            return L.circle(latlng, {
                radius: 5, 
                zIndexOffset: 50,
                weight: 1,
                opacity: 1,
                fillOpacity: 1, 
                color: '#ff0000'});
        }
    });

    /*
    Zeichne Punkte für GridView
    */
    var grid_view = L.geoJSON(geo_json_grid_view, {
    	pointToLayer: function(feature, latlng) {
            var color = feature.properties.color;
            return L.circle(latlng, {
                radius: 10, 
                zIndexOffset: 50,
                weight: 1,
                opacity: 0.5,
                fillOpacity: 0.5, 
                color: color});
        }
    });


    var messages_layer = L.layerGroup([message_points]);
    var grid_view_layer = L.layerGroup([grid_view]);


    map.setView(new L.LatLng(50.814903908, 7.156198025), 12);

    var baseMaps = {
        "OpenStreetMap": osm
    };

    var overlayMaps = {
        "messages_layer": messages_layer,
        "grid_view_layer": grid_view_layer,
    };

    L.control.layers(baseMaps, overlayMaps).addTo(map);

    messages_layer.addTo(map);
    grid_view_layer.addTo(map);

</script>
{% endblock %}